<h1>Confirm your new email</h1>

<p>You've requested to change your email. Please confirm your new email by clicking the link below:</p>

<p><%= link_to 'Confirm my new email', @confirmation_url %></p>
